*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    border-bottom: 1px solid grey;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}