{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" ><img src="{% static 'coderecruit logo.png' %}" height=100vh width= 100px alt="CodeRecruit Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#jobs" class="scroll-link">Jobs</a>
              <a class="nav-link" href="{% url 'Authentication:register' %}">Register</a>
              <a class="nav-link" href="{% url 'Authentication:login' %}">Login</a>
              <a class="nav-link" href="{% url 'crjob_board:create' %}">Post A Job</a>
              <input type="text" class="search-input" id="searchInput" placeholder="Search..">
              <button class="search-button" onclick="performSearch()">Search</button>
              <script>
              function performSearch() {
            // Get the value of the input field
                var searchTerm = document.getElementById("searchInput").value;

            // You can replace this alert with actual search functionality
                alert(searchTerm);
            }
            </script>
              <button type="button" class="btn btn-outline-danger">Hire a Consultant</button>
            </div>
          </div>
        </div>
      </nav>

    <div class="text-center">
        <h1 class="text-4xl tracking-tight font-extrabold  text-black sm:text-5xl md:text-6xl">
            <span class="block xl:inline">The Best Job Board for Techies</span>
        </h1>
        <p class="mt-3 max-w-md mx-auto text-base  text-black sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
        </p>
        <div class="max-w-2xl mx-auto font-medium">
            “CodeRecruit is our first stop whenever we're hiring a developer role. We've hired 10 software developers in the last few years, all thanks to CodeRecruit.”
             — <span class="text-base">Matthew Kimani, Arimis LTD</span>
        </div>
    </div>
    <div class="container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" style="overflow: hidden;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'courosel10.png' %}" class="d-block" style="width: 400px; height: 200px; object-fit: cover;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'courosel9.png' %}" class="d-block" style="width: 400px; height: 200px; object-fit: cover;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'courosel4.png' %}" class="d-block" style="width: 400px; height: 200px; object-fit: cover;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'courosel1.png' %}" class="d-block" style="width: 400px; height: 200px; object-fit: cover;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'courosel2.png' %}" class="d-block" style="width: 400px; height: 200px; object-fit: cover;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'courosel3.png' %}" class="d-block" style="width: 400px; height: 200px; object-fit: cover;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'courosel5.png' %}" class="d-block" style="width: 400px; height: 200px; object-fit: cover;" alt="...">
                </div>
            </div>
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
      
</body>
</html>

