{% load static%}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" ><img src="{% static 'CodeRecruit\job_board\assets\coderecruit logo.png' %}" alt="CodeRecruit Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Jobs</a>
          <a class="nav-link" href="#">Talent</a>
          <a class="nav-link" href="#">Login</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          <button type="button" class="btn btn-outline-danger">Hire a Consultant</button>
          <button type="button" class="btn btn-outline-danger">Post a Job</button>
        </div>
      </div>
    </div>
  </nav>